/* reusable css */

.main-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.primary-button {
  background-color: #05e2c2;
  border-radius: 4px;
  padding: 0.7rem 1.3rem;
  color: black;
  border: 1px solid transparent;
}
.outline-button {
  border: 1px solid white;
  border-radius: 4px;
 padding: 0.7rem 1.3rem;
 /* margin: 0 0.6rem; */
}

/* font-family */

@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: "proxima_nova_rgbold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
}

/* navbar */

.navbar-container {
  background-color: black;
  padding: 1rem 0;;
}

.nav {
  height: 50px;
  /* width: 100%; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  /* padding: 10px 10px 10px 10px; */
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  /* display: inline; */
  display: flex;
  float: right;
  margin-top: 0.3rem;
  gap: 0 0.7rem ;

}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    height: 50px;
    padding-top: 0.7rem;
    
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    /* display: block; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-left: 10px; */
    background-color: black;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    gap: 1rem 0
  }
  .nav > .nav-links > button {
    display: block;
    width: 30%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
