/* reusable css */

.main-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.primary-button {
  background-color: #05e2c2;
  border-radius: 4px;
  padding: 0.7rem 1.3rem;
  color: black;
  border: 1px solid transparent;
}
.secondary-button {
  background-color: black;
  border-radius: 4px;
  padding: 0.7rem 1.3rem;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
}
.outline-button {
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.7rem 1.3rem;
  background-color: transparent;
  color: white;
}
.secondary_outline {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.7rem 1.3rem;
  background-color: transparent;
  color: black;
  width: 100%;
}

.heading_1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}
.heading_2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  margin: 0;
}
.heading_3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}
.heading_4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}
.heading_5 {
  font-weight: 300;
  font-size: 26px;
  line-height: 28px;
  margin: 0;
}
.paragraph_1 {
  font-weight: 500;
  margin: 0;
}
.text_white {
  color: white;
}

/* font-family */

@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: "proxima_nova_rgbold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
  margin: 0;
}

/* navbar */

.navbar-container {
  background-color: black;
  padding: 1rem;
  position: relative;
  z-index: 5;
  /* width: 100%; */
}

.nav {
  height: 50px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  float: right;
  margin-top: 0.3rem;
  gap: 0 0.7rem;
}

.navbar-text {
  color: white;
  display: none;
}

.nav > #nav-check {
  display: none;
}

.nav > .nav-links .button-container {
  display: flex;
  /* padding-left: 1rem; */
  width: 100%;
  gap: 0.6rem;
}

/* hero-section */
.hero_container {
  background-color: black;
}

.padding_top {
  padding-top: 3rem;
}
.text_center {
  text-align: center;
}

.text_white {
  color: white;
}
.text_black {
  color: black;
}
.hero_background {
  background-image: url("../Images/hero-background.png");
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  margin-top: -17%;
}
.cards_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  justify-content: center;
  gap: 4rem;
}
.pricing_card {
  background-color: white;
  border-radius: 6px;
  padding-top: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 7rem;
  position: relative;
  z-index: 1;
  width: 300px;
}
.btn_margin {
  margin-top: 1rem;
}

.card_text_container {
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.points_container {
  display: flex;
  gap: 0 10px;
  margin-top: 8px;
}

.connect_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 0 4px;
  margin-top: 1.5rem;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.cursor_pointer {
  cursor: pointer;
}

/* footer css  */


.footer {
  margin: 30px 0
}

.footer_section {
  display: flex;
  justify-content: space-between;
}
.footer_nav_items {
  display: flex;
  gap: 70px;
  }

@media (max-width: 600px) {
  /* navbar */
  .navbar-container {
    background-color: black;
    padding: 1rem 0;
    /* width: 100%; */
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 26px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    height: 50px;
    padding-top: 0.7rem;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    background-color: black;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    left: 0px;
    padding-left: 1rem;
  }

  .nav > .nav-links .button-container {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding-bottom: 3rem;
  }

  .nav > .nav-links .button-container > button {
    display: block;
    width: 30%;
    margin-top: 1rem;
    height: fit-content;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .navbar-text {
    color: white;
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
  }
  /* connect_section */

  .connect_section {
    flex-direction: column;
    gap: 10px;
    padding: 50px 0;
  }
  /* fotter */
  .footer_section {
    flex-direction: column;
    margin: 40px 0;
  }

  /* hero-section */

  .hero_background {
    background-image: url("../Images/hero-background.png");
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    margin-top: -33.5rem;
  }
  

}

.width-full {
  width: 100%;
}
